*{margin:0; padding:0; box-sizing: border-box;}
ul,ol{list-style: none;}
a{text-decoration: none; color:inherit;}
input,textarea,button{
    outline: 0;
}
body{
    font-family:  "맑은 고딕",Arial,sans-serif;
    color:#333;
    font-size:16px;
    line-height: 1.5;
}
.clear::after{ /*clearfix핵*/
    content: "";
    display: block;
    clear: both;
}
body{
    width:100%;
}

:root{
    /*color*/
    --point-color:#ce2127;
    --title-color:#222;
    --subtitle-color:#555;
    --sub-color:#999;
    --white-color:#f2f2f2;

    /*padding*/
    --padding-lg:120px;
    --padding-md:40px; 
    --padding-sm:20px;

    /*font*/
    --font-banner:65px;
    --font-title:50px;
    --font-contentTitle:30px;
    --font-sm:15px;
    --font-mc:12px;
}